# URL pública do front-end, usada em canonical e compartilhamentos sociais
SITE_URL=http://localhost:3000

# URL da API utilizada pelo front-end
# Em ambiente local, normalmente o back-end roda na porta 3001
NEXT_PUBLIC_API_URL=http://localhost:3001

# Nome público da aplicação
NEXT_PUBLIC_APP_NAME=Site Valhalla Club

# Ambiente da aplicação
# Valores comuns: development, staging, production
NEXT_PUBLIC_APP_ENV=development
